body{
  margin-top: 50px;
}

/* navbar style */
.navbar-static-top{
  margin-bottom: 15px;
}

.navbar-default .navbar-nav>li>a{
  cursor: pointer;
}

/* status bar not resizeable*/
textarea{
  resize: none;
}
section{
  min-height: 200px;
}

/* title */
.main-title{
  text-align: center;
  text-transform: uppercase;
}

/* styling wrapper form */
#input-list{
  background: lightgrey;
}

#input-list form{
  width: 800px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: black;
  border: 0 none;
  border-radius: 5px;
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}

#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: yellow;
  margin-bottom: 10px;
}

#input-list form > .status-bar-input, #input-list form > .status-bar-textarea{
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: yellow;
}

@media only screen and (max-width: 768px){
  #input-list form {
      width: 80
      0px;
  }
}

#my-status{
  background: lightgrey;
}

.status{
  top: 0px;
  text-align: left;
  position: relative;
  z-index: 15;
  margin-bottom: 60px;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.status:hover{
  margin-top: -5px;
  -webkit-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 12px 25px 10px rgba(0, 0, 0, 0.2);
}

.status:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.flex{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-right: -15px;
  margin-left: -15px;
}
.flex-item{
  position: relative;
  padding: 0 15px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
}

@media only screen and (max-width: 768px){
    .flex-item{
      position: relative;
      padding: 0 15px;
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 100%;
    }
  }

.status .status-date-added{
  font-size: 12px;
  padding: 0 10px;
}

.status .status-update{
  padding: 10px 25px;
  z-index: 15;
  background: pink;
  height: 125px;
  text-align: left;
  overflow: auto;
}
